* {
	padding: 0;
	margin: 0;
}
body, button{
	font-family: 宋体, Arial;
	font-size: 30px;
}

 button {
	border: 1px outset #DDD;
	margin: 3px;
	padding: 2px 3px;
	min-width: 50px;
}

#pyText,select {
	width: 96%;
	padding: 2px 5px;
	margin: 2px;
	font-size: 30px;
}

select {
	width: auto;
}

#pyShow {
	margin: 10px 0;
    font-size: 100px;
    text-align: center;
    width: 100%;
}

button.active {
	color:red;
}
